force-app/main/default/flows/Blacklister_Debloquer_Compte.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Blacklist_Account</name>
        <label>Blacklist Account</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Auto Submitted through Flow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Blacklister_compte</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Change_account_status_to_previous</name>
        <label>Change account status to previous</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.PreviousAccountStatus__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status_from_blacklisted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_status_of_account</name>
        <label>Change status of account</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blacklisté</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_status_of_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>store_motif_de_blacklistage</name>
        <label>store motif de blacklistage</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Motif_blacklistage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motif_de_balcklistage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_motif_de_blacklist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Previous_Account_Status</name>
        <label>Store Previous Account Status</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.PreviousAccountStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Statut__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blacklister_compte</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_profils</name>
        <label>Check profils</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>User is not manager</defaultConnectorLabel>
        <rules>
            <name>User_is_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsManager</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_account_status_to_previous</targetReference>
            </connector>
            <label>User is manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>ChecksProfile</name>
        <label>ChecksProfile</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_a_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_status_of_account</targetReference>
            </connector>
            <label>User is a manager</label>
        </rules>
        <rules>
            <name>User_is_not_manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Commercial</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blacklist_Account</targetReference>
            </connector>
            <label>User is not manager</label>
        </rules>
    </decisions>
    <decisions>
        <description>Vérifier le statut du compte pour décider si on débloque ou bien on blackliste un compte.</description>
        <name>VerifyAccountStatus</name>
        <label>VerifyAccountStatus</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_Debloque</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blacklisté</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deblocage_screen</targetReference>
            </connector>
            <label>To Debloque</label>
        </rules>
        <rules>
            <name>To_Blacklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Statut__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Blacklisté</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Previous_Account_Status</targetReference>
            </connector>
            <label>To Blacklist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsManager</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$UserRole.Name}, &quot;Manager&quot;)</expression>
    </formulas>
    <interviewLabel>Blacklister_Débloquer_Compte {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Blacklister_Débloquer_Compte</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyAccountStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_motif_de_blacklist</name>
        <label>Update motif de blacklist</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>ChecksProfile</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_from_blacklisted</name>
        <label>Update status from blacklisted</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_of_account</name>
        <label>Update status of account</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <screens>
        <name>Blacklister_compte</name>
        <label>Blacklister compte</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>store_motif_de_blacklistage</targetReference>
        </connector>
        <fields>
            <name>displayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Etes vous sur de vouloir blacklister ce compte ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Motif_de_balcklistage</name>
            <fieldText>Motif de balcklistage</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deblocage_screen</name>
        <label>Deblocage screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_profils</targetReference>
        </connector>
        <fields>
            <name>Confirmation_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;Etes vous sur de vouloir débloquer ce compte ?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsManager</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(240, 0, 0);&quot;&gt;Seuls les managers ont la capacité de débloquer un compte. Veuillez contacter votre manager pour effectuer cette action.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsManager</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Terminer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
