force-app/main/default/flows/Cl_ture_de_l_opportunit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>assigne_values_to_opp</name>
        <label>assigne values to opp</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Get_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Statut_de_cloture</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opp.Motif_de_perte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Motif_de_pert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_opp</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Opportunite_gagnee</name>
        <choiceText>Opportunité gagnée</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close gagnée</stringValue>
        </value>
    </choices>
    <choices>
        <name>Opportunite_perdue</name>
        <choiceText>Opportunité perdue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Close perdue</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>is_record_exist</name>
        <label>Is record exist</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_de_confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>motif_de_perte</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motif_de_perte__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Clôture de l&apos;opportunité {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clôture de l&apos;opportunité</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opp</name>
        <label>Get Opp</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_record_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faut_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opp</name>
        <label>Update opp</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>Get_Opp</inputReference>
    </recordUpdates>
    <screens>
        <name>Faut_screen</name>
        <label>Faut screen</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(225, 2, 2);&quot;&gt;Une erreur s&apos;est produite merci de contacter votre administrateur &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_de_confirmation</name>
        <label>Screen de confirmation</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assigne_values_to_opp</targetReference>
        </connector>
        <fields>
            <name>message_de_confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Veuillez sélectionner le statut final de l&apos;opportunité :﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Statut_de_cloture</name>
            <choiceReferences>Opportunite_gagnee</choiceReferences>
            <choiceReferences>Opportunite_perdue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Statut de clôture:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Motif_de_pert</name>
            <choiceReferences>motif_de_perte</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motif de perte</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Statut_de_cloture</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Opportunite_perdue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirmer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
