force-app/main/default/flows/Cl_ture_de_la_cotation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Cotation_gagnee</name>
        <choiceText>Cloturée Gagnée</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cloturée Gagnée</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cotation_perdue</name>
        <choiceText>Cloturée Perdue</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cloturée Perdue</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Cotation_en_exploitation</name>
        <label>Cotation en exploitation</label>
        <locationX>226</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_cotation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exploitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cotation.Etape__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exploitation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gagn_e_ou_Perdue</targetReference>
            </connector>
            <label>Exploitation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Gagn_e_ou_Perdue</name>
        <label>Gagnée ou Perdue ?</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Validation_Exploitation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Perdue</defaultConnectorLabel>
        <rules>
            <name>Gagn_e</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Statut_de_cloture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cotation_gagnee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_cotation</targetReference>
            </connector>
            <label>Gagnée</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_record_exist</name>
        <label>Is record exist</label>
        <locationX>402</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cotation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_de_confirmation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>motif_de_perte</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Motif_de_perte__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Clôture de la cotation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clôture de la cotation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cotation</name>
        <label>Get Cotation</label>
        <locationX>402</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_record_exist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faut_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_cotation</name>
        <label>Update cotation</label>
        <locationX>226</locationX>
        <locationY>1058</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cotation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Etape__c</field>
            <value>
                <elementReference>Statut_de_cloture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Motif_de_perte__c</field>
            <value>
                <elementReference>Motif_de_pert</elementReference>
            </value>
        </inputAssignments>
        <object>Cotation__c</object>
    </recordUpdates>
    <screens>
        <name>Faut_screen</name>
        <label>Faut screen</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(225, 2, 2);&quot;&gt;Une erreur s&apos;est produite merci de contacter votre administrateur &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_de_confirmation</name>
        <label>Screen de confirmation</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cotation_en_exploitation</targetReference>
        </connector>
        <fields>
            <name>message_de_confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Veuillez sélectionner le statut final de la cotation :﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Statut_de_cloture</name>
            <choiceReferences>Cotation_gagnee</choiceReferences>
            <choiceReferences>Cotation_perdue</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Statut de clôture:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Motif_de_pert</name>
            <choiceReferences>motif_de_perte</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motif de perte</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Statut_de_cloture</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Cotation_perdue</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirmer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validation_Exploitation</name>
        <label>Validation Exploitation</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Impossible_de_cloturer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 144, 1);&quot;&gt;Cette cotation est actuellement en exploitation et ne peut pas être annulée !&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>276</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cotation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
