force-app/main/default/flows/Convert_Prospect_To_Client_Qualifie.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Conversion_approval</name>
        <label>Conversion approval</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Asssigne_values_to_account</name>
        <label>Asssigne values to account</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Tribunal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tribual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ICE_ID_TVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICE_identifiant_fiscale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Mode_de_reglement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mode_de_reglement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.N_RC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_RC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Conditions_de_reglement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conditions_de_reglement1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Termes_de_Reglement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Termes_de_R_glement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Contact_principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_principal.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Plafond__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plafond</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_prospect_fields1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Asssigne_values_to_account</name>
        <label>Asssigne values to account</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Tribunal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tribual</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.ICE_ID_TVA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICE_identifiant_fiscale</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Mode_de_reglement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mode_de_reglement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.N_RC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>N_RC</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Conditions_de_reglement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conditions_de_reglement1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Termes_de_Reglement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Termes_de_R_glement</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Contact_principal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact_principal.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Statut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Compte qualifié</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_prospect_fields_and_convert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_record_exeist</name>
        <label>Check if record exeist</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Convertir_le_prospect</targetReference>
            </connector>
            <label>Record exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_termes_de_paiement</name>
        <label>Check termes de paiement</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Asssigne_values_to_account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Termes_de_R_glement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation_screen_for_non_approval_needed</targetReference>
            </connector>
            <label>Crédit</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Conditions_de_reglement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Conditions_de_reglement__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Modede_reglement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mode_de_reglement__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Termes_de_Reglement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Termes_de_Reglement__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tribunal_picklist_choise</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tribunal__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Convert_Prospect_To_Client_Qualifie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Prospect To Client Qualifie</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_record_exeist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_prospect_fields1</name>
        <label>Update prospect fields</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Conversion_approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Copier_1_sur_ErrorMsg</targetReference>
        </faultConnector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_prospect_fields_and_convert</name>
        <label>Update prospect fields and convert</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <faultConnector>
            <targetReference>ErrorMsg</targetReference>
        </faultConnector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Confirmation_screen_for_non_approval_needed</name>
        <label>Confirmation screen for non approval needed</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Retour</backButtonLabel>
        <connector>
            <targetReference>Asssigne_values_to_account</targetReference>
        </connector>
        <fields>
            <name>Message_de_confirmation_d_approbation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(211, 9, 9);&quot;&gt;Une demande de validation sera envoyée aux managers.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Soumettre pour approbation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Convertir_le_prospect</name>
        <label>Qualification screen</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_termes_de_paiement</targetReference>
        </connector>
        <fields>
            <name>country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </defaultValue>
            <fieldText>country</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isReadOnly>
                <booleanValue>true</booleanValue>
            </isReadOnly>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Account.OwnerId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Contact_principal</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact_principal__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Principal :</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Account.Contact_principal__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>N_RC</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.N_RC__c</elementReference>
            </defaultValue>
            <fieldText>N° RC:</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ICE_identifiant_fiscale</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.ICE_ID_TVA__c</elementReference>
            </defaultValue>
            <fieldText>ICE/iD TVA</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 0, 0);&quot;&gt;&lt;em&gt;L&apos;ICE/Identifiant Fiscal doit contenir exactement 15 chiffres pour les adresses au Maroc.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>OR(
   {!Get_Account.BillingCountry} != &quot;Maroc&quot;, 
    REGEX({!ICE_identifiant_fiscale}, &quot;^[a-zA-Z0-9]{15}$&quot;)
)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Tribual</name>
            <choiceReferences>Tribunal_picklist_choise</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.Tribunal__c</elementReference>
            </defaultValue>
            <fieldText>Tribual :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Rue</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </defaultValue>
            <fieldText>Rue</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mode_de_reglement</name>
            <choiceReferences>Modede_reglement</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.Mode_de_reglement__c</elementReference>
            </defaultValue>
            <fieldText>Mode de réglement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Termes_de_R_glement</name>
            <choiceReferences>Termes_de_Reglement</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.Termes_de_Reglement__c</elementReference>
            </defaultValue>
            <fieldText>Termes de Règlement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Conditions_de_reglement1</name>
            <choiceReferences>Conditions_de_reglement</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Account.Conditions_de_reglement__c</elementReference>
            </defaultValue>
            <fieldText>Conditions de règlement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Termes_de_R_glement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Crédit</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Plafond</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Account.Plafond__c</elementReference>
            </defaultValue>
            <fieldText>Plafond</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Termes_de_R_glement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Crédit</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirmer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copier_1_sur_ErrorMsg</name>
        <label>Copier 1 sur ErrorMsg</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copier_1_sur_ErrorMsgText</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMsg</name>
        <label>ErrorMsg</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsgText</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
