force-app/main/default/flows/SCR_Clone_Cotation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>recored_to_cotation</name>
        <label>recored to cotation</label>
        <locationX>176</locationX>
        <locationY>1406</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ClonedCotation.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Ligne</name>
        <label>Add Ligne</label>
        <locationX>264</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>lignesAcreer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lignedecotationtmp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Cotation</name>
        <label>Clone Cotation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>ClonedCotation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cotation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Free_up_cloned_cotation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clone_Ligne_de_cotation</name>
        <label>Clone Ligne de cotation</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Lignedecotationtmp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Free_up_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Free_up_cloned_cotation</name>
        <label>Free up cloned cotation</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ClonedCotation.Etape__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Nouvelle</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedCotation.Bon_pour_accord__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedCotation.isSentEmail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedCotation.Date_de_validite__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedCotation.Temps_de_transit_arrive__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedCotation.Temps_de_transit_depart__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedCotation.Motif_de_perte__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedCotation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedCotation.Last_status_change__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClonedCotation.Statut_d_approbation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cloned_Cotation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Free_up_fields</name>
        <label>Free up fields</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Lignedecotationtmp.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lignedecotationtmp.Cotation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClonedCotation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Ligne</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>NullValue</name>
        <dataType>String</dataType>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <environments>Default</environments>
    <interviewLabel>[SCR] Clone Cotation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[SCR] Clone Cotation</label>
    <loops>
        <name>Loop_over</name>
        <label>Loop over</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionReference>get_articles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clone_Ligne_de_cotation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_lignes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cloned_Cotation</name>
        <label>Create Cloned Cotation</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>get_articles</targetReference>
        </connector>
        <inputReference>ClonedCotation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_lignes</name>
        <label>Create lignes</label>
        <locationX>176</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>recored_to_cotation</targetReference>
        </connector>
        <inputReference>lignesAcreer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_articles</name>
        <label>get articles</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cotation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cotation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Ligne_de_cotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cotation</name>
        <label>Get Cotation</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cotation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone</name>
        <label>Clone</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clone_Cotation</targetReference>
        </connector>
        <fields>
            <name>Message_confirmation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 153, 81);&quot;&gt;Êtes-vous sûr de vouloir cloner la cotation {!Get_Cotation.Name} ?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 153, 81);&quot;&gt;Veuillez vérifier toutes les informations nécessaires pour la nouvelle cotation.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cotation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClonedCotation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cotation__c</objectType>
    </variables>
    <variables>
        <name>Lignedecotationtmp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ligne_de_cotation__c</objectType>
    </variables>
    <variables>
        <name>lignesAcreer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ligne_de_cotation__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
